In [3]:
from itertools import groupby

import pandas as pd
import os

In [28]:
print(os.getcwd())

C:\Users\1\Desktop\workspace\core-project-study\jinseok\python-study\data

In [ ]:
# 작업 디렉토리 변경
os.chdir('C:\\Users\\1\\Desktop\\workspace\\core-project-study\\jinseok\\python-study\\data')

#### 1. 데이터 병합
- concat
- 4, 5, 6월 pay-info 데이터를 각각 불러와 한개의 df 병합

In [8]:
file_names = os.listdir('월별지급')
file_names

['hr-pay-info-4월.csv', 'hr-pay-info-5월.csv', 'hr-pay-info-6월.csv']

In [18]:
pay_df_list = []
for fn in file_names:
    df = pd.read_csv('월별지급/' + fn, encoding = 'euc-kr')
    pay_df_list.append(df)

In [20]:
pay_df_list

[        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240401           월급             850
 1    E00181    20240401           월급             791
 2    E00164    20240401           월급             758
 3    E00190    20240401           월급             708
 4    E00209    20240401           월급             716
 ..      ...         ...          ...             ...
 448  E00322    20240401          상여금             300
 449  E00389    20240401          상여금             300
 450  E00438    20240401          상여금             300
 451  E00304    20240401          상여금             300
 452  E00428    20240401          상여금             300

 [453 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240501           월급             850
 1    E00181    20240501           월급             791
 2    E00164    20240501           월급             758
 3    E00190    20240501           월급             708
 4    E00209    20240501           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240501           월급             375
 147  E00389    20240501           월급             375
 148  E00438    20240501           월급             375
 149  E00304    20240501           월급             375
 150  E00428    20240501           월급             375

 [151 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240601           월급             850
 1    E00181    20240601           월급             791
 2    E00164    20240601           월급             758
 3    E00190    20240601           월급             708
 4    E00209    20240601           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240601           월급             375
 147  E00389    20240601           월급             375
 148  E00438    20240601           월급             375
 149  E00304    20240601           월급             375
 150  E00428    20240601           월급             375

 [151 rows x 4 columns]]

In [24]:
# 데이터 병합
total_df = pd.concat(pay_df_list)

total_df

        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206    20240401           월급             850
1    E00181    20240401           월급             791
2    E00164    20240401           월급             758
3    E00190    20240401           월급             708
4    E00209    20240401           월급             716
..      ...         ...          ...             ...
146  E00322    20240601           월급             375
147  E00389    20240601           월급             375
148  E00438    20240601           월급             375
149  E00304    20240601           월급             375
150  E00428    20240601           월급             375

[755 rows x 4 columns]

In [31]:
# csv 파일로 저장
total_df.to_csv('total_pay_info.csv')

In [32]:
#### org_info 데이터 (조직정보)에 각 조직별 조직 인원 수, 평균 나이, 평균 근무 년수, 평균 연봉

In [36]:
# 조직 정보 데이터 확인
org_info = pd.read_csv('org-info.csv', encoding = 'euc-kr', index_col = 'ORG_CD')
org_info

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role
ORG_CD,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.
ORG002,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Marketing Team,TV 마케팅 팀,"TV 제품의 시장 진입 전략을 수립하고, 광고 및 프로모션 활동을 기획합니다."
ORG003,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Customer Support Team,TV 고객 지원 팀,TV 고객 지원 서비스 제공 및 고객 만족도를 높이기 위한 해결책을 제공합니다.
ORG004,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Core Development Team,webOS 핵심 개발 팀,webOS 플랫폼의 핵심 기능 개발 및 유지보수를 담당합니다.
ORG005,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS User Interface Team,webOS 사용자 인터페이스 팀,webOS의 사용자 인터페이스 디자인 및 개선을 담당합니다.
ORG006,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Quality Assurance Team,webOS 품질 보증 팀,webOS 소프트웨어의 품질 검증 및 테스트를 수행합니다.
ORG007,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Global Sales Strategy Team,글로벌 판매 전략 팀,"글로벌 판매 전략을 수립하고, 주요 시장에서의 판매 목표를 설정합니다."
ORG008,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Key Account Management Team,주요 고객 관리 팀,"주요 고객과의 관계를 관리하고, 맞춤형 솔루션을 제공합니다."
ORG009,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Customer Insights Team,고객 통찰 팀,"고객 데이터를 분석하여 인사이트를 도출하고, 이를 기반으로 제품 및 서비스 개선안을..."
ORG010,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Asia Regional Sales Team,아시아 지역 판매 팀,"아시아 지역에서의 판매 활동을 관리하고, 시장 진입 전략을 수립합니다."
ORG011,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Project Management Team,프로젝트 관리 팀,"프로젝트 계획 수립 및 실행, 리소스 관리 및 일정 관리를 담당합니다."
ORG012,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Technical Sales Support Team,기술 영업 지원 팀,"기술적 지원을 제공하여 고객의 요구사항을 해결하고, 제품의 기술적 장점을 설명합니다."
ORG013,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Appliance Development Team,주방 가전 개발 팀,주방 가전 제품의 개발 및 설계를 담당합니다.
ORG014,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Product Marketing Team,주방 제품 마케팅 팀,주방 제품의 마케팅 전략 수립 및 실행을 담당합니다.
ORG015,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Customer Service Team,주방 고객 서비스 팀,주방 가전 제품에 대한 고객 지원 및 서비스 제공을 담당합니다.
ORG016,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India B2B Sales Team,인도 B2B 판매 팀,"인도 지역 B2B 판매 활동을 관리하고, 고객 맞춤형 솔루션을 제공합니다."
ORG017,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Market Analysis Team,인도 시장 분석 팀,인도 시장에 대한 분석을 통해 시장 전략을 수립합니다.
ORG018,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Customer Support Team,인도 고객 지원 팀,인도 지역 고객에 대한 지원 및 서비스를 제공합니다.
ORG019,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,Innovation Research Team,혁신 연구 팀,신기술 연구 및 혁신적인 제품 개발을 주도합니다.
ORG020,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,New Business Development Team,신사업 개발 팀,"새로운 비즈니스 기회를 발굴하고, 사업화를 추진합니다."
ORG021,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,North America Sales Team,북미 판매 팀,북미 지역 판매 전략 수립 및 실행을 담당합니다.
ORG022,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Process Improvement Team,생산 공정 개선 팀,생산 공정의 효율성을 개선하고 최적화하는 작업을 수행합니다.
ORG023,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Advanced Manufacturing Team,첨단 제조 팀,첨단 제조 기술 개발 및 생산성 향상 작업을 수행합니다.
ORG024,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Quality Control Team,생산 품질 관리 팀,"생산 품질을 관리하고, 품질 문제를 해결합니다."
ORG025,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Talent Acquisition Team,인재 채용 팀,"인재 채용 전략 수립 및 실행, 채용 프로세스 관리."
ORG026,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Employee Development Team,직원 개발 팀,직원 교육 및 개발 프로그램 기획 및 실행.
ORG027,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Compensation and Benefits Team,보상 및 복리후생 팀,직원 보상 및 복리후생 제도 관리.
ORG028,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Parts Development Team,부품개발팀,세탁기 부품의 개발 및 개선을 담당합니다.
ORG029,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Analysis Team,분석팀,세탁기 성능 및 사용자 로그 데이터를 분석하고 보고서를 작성합니다.
ORG030,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Information Management Team,정보관리팀,"세탁기 관련 정보의 수집, 저장, 관리 및 배포를 담당합니다."

In [37]:
hr_info = pd.read_csv('hr-info.csv', encoding = 'euc-kr', index_col = 'ORG_CD')
hr_info

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
NaN,E00206,시이오,M,P001,49,25,박사 학위,4.50,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00181,나사장,F,P002,49,24,박사 학위,4.60,9500,2024-03-01,236,"Project Management, Marketing",Y,2000-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
ORG007,E00190,판라다,F,P004,47,18,박사 학위,3.51,8500,2024-03-01,96,"Java, Data Analysis, Salesforce",Y,2006-03-01,NaN,NaN,NaN,KOREA,Y
ORG023,E00209,누훈봉,M,P004,47,19,박사 학위,3.38,8600,2023-03-01,66,"Java, Salesforce",Y,2005-03-01,NaN,NaN,NaN,KOREA,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG014,E00322,부탐회,F,P009,23,0,학사 학위,0.00,4500,NaN,4,Java,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG012,E00389,초두반,F,P009,23,0,학사 학위,0.00,4500,NaN,4,"Salesforce, Java",Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG024,E00438,권개득,M,P009,23,0,학사 학위,0.00,4500,NaN,4,Python,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG009,E00304,탐출조,M,P009,24,0,학사 학위,0.00,4500,NaN,4,Salesforce,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG003,E00428,을충나,F,P009,24,0,학사 학위,0.00,4500,NaN,4,"Data Analysis, Python, Marketing",Y,2024-09-01,NaN,NaN,NaN,KOREA,N

In [42]:
hr_info.groupby('ORG_CD').count()

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
ORG001,6,6,6,6,6,6,6,6,6,5,6,6,6,6,1,1,1,6,6
ORG002,4,4,4,4,4,4,4,4,4,4,4,4,4,4,1,1,1,4,4
ORG003,5,5,5,5,5,5,5,5,5,4,5,5,5,5,0,0,0,5,5
ORG004,11,11,11,11,11,11,11,11,11,11,11,11,11,11,3,3,3,11,11
ORG005,8,8,8,8,8,8,8,8,8,7,8,8,8,8,2,2,2,8,8
ORG006,6,6,6,6,6,6,6,6,6,6,6,6,6,6,1,1,1,6,6
ORG007,7,7,7,7,7,7,7,7,7,7,7,7,7,7,1,1,1,7,7
ORG008,5,5,5,5,5,5,5,5,5,5,5,5,5,5,2,2,2,5,5
ORG009,5,5,5,5,5,5,5,5,5,4,5,5,5,5,2,2,2,5,5
ORG010,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,0,0,3,3
ORG011,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,5,5
ORG012,5,5,5,5,5,5,5,5,5,4,5,5,5,5,0,0,0,5,5
ORG013,8,8,8,8,8,8,8,8,8,8,8,8,8,8,3,3,3,8,8
ORG014,8,8,8,8,8,8,8,8,8,7,8,8,8,8,1,1,1,8,8
ORG015,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,0,0,3,3
ORG016,8,8,8,8,8,8,8,8,8,8,8,8,8,8,1,1,1,8,8
ORG017,10,10,10,10,10,10,10,10,10,7,10,10,10,10,5,5,5,10,10
ORG018,6,6,6,6,6,6,6,6,6,6,6,6,6,6,1,1,1,6,6
ORG019,10,10,10,10,10,10,10,10,10,8,10,10,10,10,0,0,0,10,10
ORG020,3,3,3,3,3,3,3,3,3,2,3,3,3,3,0,0,0,3,3
ORG021,12,12,12,12,12,12,12,12,12,11,12,12,12,12,4,4,4,12,12
ORG022,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,2,2,4,4
ORG023,12,12,12,12,12,12,12,12,12,11,12,12,12,12,5,5,5,12,12
ORG024,5,5,5,5,5,5,5,5,5,4,5,5,5,5,0,0,0,5,5
ORG025,8,8,8,8,8,8,8,8,8,8,8,8,8,8,4,4,4,8,8
ORG026,5,5,5,5,5,5,5,5,5,4,5,5,5,5,1,1,1,5,5
ORG027,7,7,7,7,7,7,7,7,7,6,7,7,7,7,4,4,4,7,7
ORG028,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,0,4,4
ORG029,4,4,4,4,4,4,4,4,4,4,4,4,4,4,1,1,1,4,4
ORG030,10,10,10,10,10,10,10,10,10,9,10,10,10,10,3,3,3,10,10

In [64]:
# 조직 정보 데이터와 공통적으로 갖고 있는 컬럼 : ORG_CD
# ORG_CD 컬럼을 기준으로 groupby

# hr_info에서 groupby를 이용해서 조직별 조직 인원 수, 평균 나이, 평균 근무 년수, 평균 연봉 추가
org_agg = hr_info.groupby('ORG_CD').agg({'ENAME' : 'count',
                                         'AGE' : 'mean',
                                        'SERVICE_YEAR' : 'mean',
                                        'SALARY' : 'mean'})

org_agg

        ENAME        AGE  SERVICE_YEAR       SALARY
ORG_CD
ORG001      6  26.166667      0.333333  5033.333333
ORG002      4  34.000000      7.500000  6550.000000
ORG003      5  34.600000      7.600000  6480.000000
ORG004     11  35.181818      7.000000  6445.454545
ORG005      8  29.250000      2.000000  5525.000000
ORG006      6  30.833333      4.166667  5966.666667
ORG007      7  36.714286      8.000000  6728.571429
ORG008      5  32.400000      5.200000  6020.000000
ORG009      5  29.800000      2.200000  5520.000000
ORG010      3  33.333333      5.666667  6300.000000
ORG011      5  37.400000      8.400000  6660.000000
ORG012      5  29.600000      2.600000  5680.000000
ORG013      8  32.625000      3.625000  5950.000000
ORG014      8  32.750000      5.000000  6025.000000
ORG015      3  24.666667      0.000000  5000.000000
ORG016      8  35.000000      7.250000  6500.000000
ORG017     10  29.400000      2.700000  5520.000000
ORG018      6  30.333333      3.000000  5716.666667
ORG019     10  29.300000      2.400000  5440.000000
ORG020      3  26.333333      0.333333  5066.666667
ORG021     12  34.250000      6.666667  6400.000000
ORG022      4  32.500000      3.750000  6025.000000
ORG023     12  30.416667      3.083333  5658.333333
ORG024      5  30.200000      4.400000  5740.000000
ORG025      8  31.125000      5.500000  6200.000000
ORG026      5  26.400000      0.400000  5140.000000
ORG027      7  33.142857      5.714286  6228.571429
ORG028      4  34.000000      5.250000  6150.000000
ORG029      4  35.500000      6.500000  6275.000000
ORG030     10  29.200000      2.400000  5550.000000

In [55]:
org_info.head(1)

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role
ORG_CD,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.

In [56]:
org_info

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role
ORG_CD,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.
ORG002,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Marketing Team,TV 마케팅 팀,"TV 제품의 시장 진입 전략을 수립하고, 광고 및 프로모션 활동을 기획합니다."
ORG003,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Customer Support Team,TV 고객 지원 팀,TV 고객 지원 서비스 제공 및 고객 만족도를 높이기 위한 해결책을 제공합니다.
ORG004,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Core Development Team,webOS 핵심 개발 팀,webOS 플랫폼의 핵심 기능 개발 및 유지보수를 담당합니다.
ORG005,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS User Interface Team,webOS 사용자 인터페이스 팀,webOS의 사용자 인터페이스 디자인 및 개선을 담당합니다.
ORG006,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Quality Assurance Team,webOS 품질 보증 팀,webOS 소프트웨어의 품질 검증 및 테스트를 수행합니다.
ORG007,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Global Sales Strategy Team,글로벌 판매 전략 팀,"글로벌 판매 전략을 수립하고, 주요 시장에서의 판매 목표를 설정합니다."
ORG008,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Key Account Management Team,주요 고객 관리 팀,"주요 고객과의 관계를 관리하고, 맞춤형 솔루션을 제공합니다."
ORG009,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Customer Insights Team,고객 통찰 팀,"고객 데이터를 분석하여 인사이트를 도출하고, 이를 기반으로 제품 및 서비스 개선안을..."
ORG010,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Asia Regional Sales Team,아시아 지역 판매 팀,"아시아 지역에서의 판매 활동을 관리하고, 시장 진입 전략을 수립합니다."
ORG011,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Project Management Team,프로젝트 관리 팀,"프로젝트 계획 수립 및 실행, 리소스 관리 및 일정 관리를 담당합니다."
ORG012,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Technical Sales Support Team,기술 영업 지원 팀,"기술적 지원을 제공하여 고객의 요구사항을 해결하고, 제품의 기술적 장점을 설명합니다."
ORG013,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Appliance Development Team,주방 가전 개발 팀,주방 가전 제품의 개발 및 설계를 담당합니다.
ORG014,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Product Marketing Team,주방 제품 마케팅 팀,주방 제품의 마케팅 전략 수립 및 실행을 담당합니다.
ORG015,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Customer Service Team,주방 고객 서비스 팀,주방 가전 제품에 대한 고객 지원 및 서비스 제공을 담당합니다.
ORG016,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India B2B Sales Team,인도 B2B 판매 팀,"인도 지역 B2B 판매 활동을 관리하고, 고객 맞춤형 솔루션을 제공합니다."
ORG017,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Market Analysis Team,인도 시장 분석 팀,인도 시장에 대한 분석을 통해 시장 전략을 수립합니다.
ORG018,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Customer Support Team,인도 고객 지원 팀,인도 지역 고객에 대한 지원 및 서비스를 제공합니다.
ORG019,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,Innovation Research Team,혁신 연구 팀,신기술 연구 및 혁신적인 제품 개발을 주도합니다.
ORG020,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,New Business Development Team,신사업 개발 팀,"새로운 비즈니스 기회를 발굴하고, 사업화를 추진합니다."
ORG021,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,North America Sales Team,북미 판매 팀,북미 지역 판매 전략 수립 및 실행을 담당합니다.
ORG022,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Process Improvement Team,생산 공정 개선 팀,생산 공정의 효율성을 개선하고 최적화하는 작업을 수행합니다.
ORG023,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Advanced Manufacturing Team,첨단 제조 팀,첨단 제조 기술 개발 및 생산성 향상 작업을 수행합니다.
ORG024,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Quality Control Team,생산 품질 관리 팀,"생산 품질을 관리하고, 품질 문제를 해결합니다."
ORG025,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Talent Acquisition Team,인재 채용 팀,"인재 채용 전략 수립 및 실행, 채용 프로세스 관리."
ORG026,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Employee Development Team,직원 개발 팀,직원 교육 및 개발 프로그램 기획 및 실행.
ORG027,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Compensation and Benefits Team,보상 및 복리후생 팀,직원 보상 및 복리후생 제도 관리.
ORG028,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Parts Development Team,부품개발팀,세탁기 부품의 개발 및 개선을 담당합니다.
ORG029,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Analysis Team,분석팀,세탁기 성능 및 사용자 로그 데이터를 분석하고 보고서를 작성합니다.
ORG030,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Information Management Team,정보관리팀,"세탁기 관련 정보의 수집, 저장, 관리 및 배포를 담당합니다."

In [71]:
# org_info와 조직구성원 데이터서에서 추출한 df를 열방향 병합
# 주의 : concat을 이용한 열 방향 병합 시, 각 DataFrame에 인덱스를 같게 해야 올바른 병합이 일어남

org_info_new = pd.concat([org_info, org_agg], axis = 1)
org_info_new

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role,ENAME,AGE,SERVICE_YEAR,SALARY
ORG_CD,,,,,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.,6,26.166667,0.333333,5033.333333
ORG002,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Marketing Team,TV 마케팅 팀,"TV 제품의 시장 진입 전략을 수립하고, 광고 및 프로모션 활동을 기획합니다.",4,34.000000,7.500000,6550.000000
ORG003,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Customer Support Team,TV 고객 지원 팀,TV 고객 지원 서비스 제공 및 고객 만족도를 높이기 위한 해결책을 제공합니다.,5,34.600000,7.600000,6480.000000
ORG004,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Core Development Team,webOS 핵심 개발 팀,webOS 플랫폼의 핵심 기능 개발 및 유지보수를 담당합니다.,11,35.181818,7.000000,6445.454545
ORG005,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS User Interface Team,webOS 사용자 인터페이스 팀,webOS의 사용자 인터페이스 디자인 및 개선을 담당합니다.,8,29.250000,2.000000,5525.000000
ORG006,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Quality Assurance Team,webOS 품질 보증 팀,webOS 소프트웨어의 품질 검증 및 테스트를 수행합니다.,6,30.833333,4.166667,5966.666667
ORG007,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Global Sales Strategy Team,글로벌 판매 전략 팀,"글로벌 판매 전략을 수립하고, 주요 시장에서의 판매 목표를 설정합니다.",7,36.714286,8.000000,6728.571429
ORG008,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Key Account Management Team,주요 고객 관리 팀,"주요 고객과의 관계를 관리하고, 맞춤형 솔루션을 제공합니다.",5,32.400000,5.200000,6020.000000
ORG009,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Customer Insights Team,고객 통찰 팀,"고객 데이터를 분석하여 인사이트를 도출하고, 이를 기반으로 제품 및 서비스 개선안을...",5,29.800000,2.200000,5520.000000
ORG010,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Asia Regional Sales Team,아시아 지역 판매 팀,"아시아 지역에서의 판매 활동을 관리하고, 시장 진입 전략을 수립합니다.",3,33.333333,5.666667,6300.000000
ORG011,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Project Management Team,프로젝트 관리 팀,"프로젝트 계획 수립 및 실행, 리소스 관리 및 일정 관리를 담당합니다.",5,37.400000,8.400000,6660.000000
ORG012,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Technical Sales Support Team,기술 영업 지원 팀,"기술적 지원을 제공하여 고객의 요구사항을 해결하고, 제품의 기술적 장점을 설명합니다.",5,29.600000,2.600000,5680.000000
ORG013,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Appliance Development Team,주방 가전 개발 팀,주방 가전 제품의 개발 및 설계를 담당합니다.,8,32.625000,3.625000,5950.000000
ORG014,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Product Marketing Team,주방 제품 마케팅 팀,주방 제품의 마케팅 전략 수립 및 실행을 담당합니다.,8,32.750000,5.000000,6025.000000
ORG015,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Customer Service Team,주방 고객 서비스 팀,주방 가전 제품에 대한 고객 지원 및 서비스 제공을 담당합니다.,3,24.666667,0.000000,5000.000000
ORG016,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India B2B Sales Team,인도 B2B 판매 팀,"인도 지역 B2B 판매 활동을 관리하고, 고객 맞춤형 솔루션을 제공합니다.",8,35.000000,7.250000,6500.000000
ORG017,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Market Analysis Team,인도 시장 분석 팀,인도 시장에 대한 분석을 통해 시장 전략을 수립합니다.,10,29.400000,2.700000,5520.000000
ORG018,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Customer Support Team,인도 고객 지원 팀,인도 지역 고객에 대한 지원 및 서비스를 제공합니다.,6,30.333333,3.000000,5716.666667
ORG019,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,Innovation Research Team,혁신 연구 팀,신기술 연구 및 혁신적인 제품 개발을 주도합니다.,10,29.300000,2.400000,5440.000000
ORG020,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,New Business Development Team,신사업 개발 팀,"새로운 비즈니스 기회를 발굴하고, 사업화를 추진합니다.",3,26.333333,0.333333,5066.666667
ORG021,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,North America Sales Team,북미 판매 팀,북미 지역 판매 전략 수립 및 실행을 담당합니다.,12,34.250000,6.666667,6400.000000
ORG022,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Process Improvement Team,생산 공정 개선 팀,생산 공정의 효율성을 개선하고 최적화하는 작업을 수행합니다.,4,32.500000,3.750000,6025.000000
ORG023,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Advanced Manufacturing Team,첨단 제조 팀,첨단 제조 기술 개발 및 생산성 향상 작업을 수행합니다.,12,30.416667,3.083333,5658.333333
ORG024,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Quality Control Team,생산 품질 관리 팀,"생산 품질을 관리하고, 품질 문제를 해결합니다.",5,30.200000,4.400000,5740.000000
ORG025,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Talent Acquisition Team,인재 채용 팀,"인재 채용 전략 수립 및 실행, 채용 프로세스 관리.",8,31.125000,5.500000,6200.000000
ORG026,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Employee Development Team,직원 개발 팀,직원 교육 및 개발 프로그램 기획 및 실행.,5,26.400000,0.400000,5140.000000
ORG027,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Compensation and Benefits Team,보상 및 복리후생 팀,직원 보상 및 복리후생 제도 관리.,7,33.142857,5.714286,6228.571429
ORG028,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Parts Development Team,부품개발팀,세탁기 부품의 개발 및 개선을 담당합니다.,4,34.000000,5.250000,6150.000000
ORG029,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Analysis Team,분석팀,세탁기 성능 및 사용자 로그 데이터를 분석하고 보고서를 작성합니다.,4,35.500000,6.500000,6275.000000
ORG030,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Information Management Team,정보관리팀,"세탁기 관련 정보의 수집, 저장, 관리 및 배포를 담당합니다.",10,29.200000,2.400000,5550.000000

In [72]:
# 급여 지급내역 데이터 로딩
hr_pay_info = pd.read_csv('hr-pay-info.csv', encoding='euc-kr')

hr_pay_info

        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206    20240601           월급             850
1    E00181    20240601           월급             791
2    E00164    20240601           월급             758
3    E00190    20240601           월급             708
4    E00209    20240601           월급             716
..      ...         ...          ...             ...
750  E00322    20240401          상여금             300
751  E00389    20240401          상여금             300
752  E00438    20240401          상여금             300
753  E00304    20240401          상여금             300
754  E00428    20240401          상여금             300

[755 rows x 4 columns]

In [73]:
hr_info

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
NaN,E00206,시이오,M,P001,49,25,박사 학위,4.50,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00181,나사장,F,P002,49,24,박사 학위,4.60,9500,2024-03-01,236,"Project Management, Marketing",Y,2000-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
ORG007,E00190,판라다,F,P004,47,18,박사 학위,3.51,8500,2024-03-01,96,"Java, Data Analysis, Salesforce",Y,2006-03-01,NaN,NaN,NaN,KOREA,Y
ORG023,E00209,누훈봉,M,P004,47,19,박사 학위,3.38,8600,2023-03-01,66,"Java, Salesforce",Y,2005-03-01,NaN,NaN,NaN,KOREA,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG014,E00322,부탐회,F,P009,23,0,학사 학위,0.00,4500,NaN,4,Java,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG012,E00389,초두반,F,P009,23,0,학사 학위,0.00,4500,NaN,4,"Salesforce, Java",Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG024,E00438,권개득,M,P009,23,0,학사 학위,0.00,4500,NaN,4,Python,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG009,E00304,탐출조,M,P009,24,0,학사 학위,0.00,4500,NaN,4,Salesforce,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG003,E00428,을충나,F,P009,24,0,학사 학위,0.00,4500,NaN,4,"Data Analysis, Python, Marketing",Y,2024-09-01,NaN,NaN,NaN,KOREA,N

In [74]:
set(hr_info.columns) - (set(hr_info.columns) - set(hr_pay_info.columns))

{'EID'}

In [80]:
# 둘 다 가지고 있는 EID 컬럼을 중심으로 merge
# 사원 정보데이터에서, 사용할 EID, 이름, 성별
hr_info_df = hr_info[['EID','ENAME','GENDER']]
hr_info_df

           EID ENAME GENDER
ORG_CD
NaN     E00206   시이오      M
NaN     E00181   나사장      F
NaN     E00164  난부사장      M
ORG007  E00190   판라다      F
ORG023  E00209   누훈봉      M
...        ...   ...    ...
ORG014  E00322   부탐회      F
ORG012  E00389   초두반      F
ORG024  E00438   권개득      M
ORG009  E00304   탐출조      M
ORG003  E00428   을충나      F

[200 rows x 3 columns]

In [85]:
# 사원 정보데이터 기준으로 merge
total_salary_df1 = pd.merge(hr_info_df, hr_pay_info, how='left', on='EID')
total_salary_df1

# 병합 시, 'EID' 열을 기준으로 병합, 왼쪽 데이터 기준

        EID ENAME GENDER  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206   시이오      M  20240601.0           월급           850.0
1    E00206   시이오      M  20240501.0           월급           850.0
2    E00206   시이오      M  20240401.0           월급           850.0
3    E00206   시이오      M  20240401.0          성과급           425.0
4    E00206   시이오      M  20240401.0          상여금           300.0
..      ...   ...    ...         ...          ...             ...
799  E00428   을충나      F  20240601.0           월급           375.0
800  E00428   을충나      F  20240501.0           월급           375.0
801  E00428   을충나      F  20240401.0           월급           375.0
802  E00428   을충나      F  20240401.0          성과급           188.0
803  E00428   을충나      F  20240401.0          상여금           300.0

[804 rows x 6 columns]

In [87]:
# 급여지급 내역을 중심으로 merge
total_salary_df2 = pd.merge(hr_info_df, hr_pay_info, how='right', on='EID')
total_salary_df2

        EID ENAME GENDER  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206   시이오      M    20240601           월급             850
1    E00181   나사장      F    20240601           월급             791
2    E00164  난부사장      M    20240601           월급             758
3    E00190   판라다      F    20240601           월급             708
4    E00209   누훈봉      M    20240601           월급             716
..      ...   ...    ...         ...          ...             ...
750  E00322   부탐회      F    20240401          상여금             300
751  E00389   초두반      F    20240401          상여금             300
752  E00438   권개득      M    20240401          상여금             300
753  E00304   탐출조      M    20240401          상여금             300
754  E00428   을충나      F    20240401          상여금             300

[755 rows x 6 columns]

In [89]:
# 급여 지금 내역을 중심으로 merge 했을 때 더 적음
# -> 급여지급이 안된 인원들이 있다.

In [92]:
# 지급내역이 없는 인원들을 확인
total_salary_df1['PAYMENT_DY'].isnull()

# null인지 확인

0      False
1      False
2      False
3      False
4      False
       ...
799    False
800    False
801    False
802    False
803    False
Name: PAYMENT_DY, Length: 804, dtype: bool

In [94]:
# 불리언 인덱싱
no_money = total_salary_df1[total_salary_df1['PAYMENT_DY'].isnull()]
no_money

        EID ENAME GENDER  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
80   E00207   초디소      M         NaN          NaN             NaN
86   E00239   헌란처      M         NaN          NaN             NaN
102  E00323   묵단언      F         NaN          NaN             NaN
108  E00394   우전회      F         NaN          NaN             NaN
119  E00174   탐선반      M         NaN          NaN             NaN
150  E00274   민남무      M         NaN          NaN             NaN
181  E00334   무공담      M         NaN          NaN             NaN
182  E00445   속묵우      M         NaN          NaN             NaN
203  E00283   도온강      F         NaN          NaN             NaN
204  E00312   장춘란      F         NaN          NaN             NaN
205  E00370   매혁지      M         NaN          NaN             NaN
216  E00493   록로민      F         NaN          NaN             NaN
217  E00179   탁영표      M         NaN          NaN             NaN
218  E00185   주인철      F         NaN          NaN             NaN
219  E00193   방전분      F         NaN          NaN             NaN
230  E00245   처성산      M         NaN          NaN             NaN
291  E00379   권철희      F         NaN          NaN             NaN
322  E00463   숭황예      F         NaN          NaN             NaN
348  E00495   충창동      F         NaN          NaN             NaN
349  E00177   람준분      M         NaN          NaN             NaN
350  E00226   득푸니      M         NaN          NaN             NaN
441  E00480   혁노력      M         NaN          NaN             NaN
442  E00168   인환숙      M         NaN          NaN             NaN
443  E00188   양봉패      F         NaN          NaN             NaN
444  E00198   성해규      M         NaN          NaN             NaN
445  E00200   안랑묵      M         NaN          NaN             NaN
446  E00234   망처문      M         NaN          NaN             NaN
447  E00253   순니충      M         NaN          NaN             NaN
448  E00273   란우함      M         NaN          NaN             NaN
449  E00412   동훼택      M         NaN          NaN             NaN
450  E00357   인치형      M         NaN          NaN             NaN
451  E00380   병전고      F         NaN          NaN             NaN
452  E00472   방부인      F         NaN          NaN             NaN
453  E00494   탄배매      F         NaN          NaN             NaN
454  E00203   희상유      M         NaN          NaN             NaN
455  E00321   반함훼      M         NaN          NaN             NaN
456  E00338   권언차      F         NaN          NaN             NaN
457  E00354   화호할      M         NaN          NaN             NaN
458  E00427   을흥언      F         NaN          NaN             NaN
459  E00465   혁묵복      M         NaN          NaN             NaN
460  E00481   개중말      M         NaN          NaN             NaN
461  E00490   시소표      F         NaN          NaN             NaN
462  E00308   룡단구      M         NaN          NaN             NaN
703  E00367   달니대      F         NaN          NaN             NaN
704  E00450   혁번상      M         NaN          NaN             NaN
705  E00460   춘란시      M         NaN          NaN             NaN
731  E00192   감옥신      F         NaN          NaN             NaN
732  E00275   복판백      M         NaN          NaN             NaN
733  E00281   빈태봉      F         NaN          NaN             NaN

In [98]:
# 지급 내역이 없는 사람들이 언제 퇴사를 했는지 알아보자

pd.merge(no_money, hr_info)[['ENAME', 'RETIRE_DATE']]
# 퇴사자여서 급여지급이 없었다.

   ENAME RETIRE_DATE
0    초디소  2022-02-28
1    헌란처  2023-02-28
2    묵단언  2023-02-28
3    우전회  2024-02-29
4    탐선반  2024-02-29
5    민남무  2024-02-29
6    무공담  2024-02-29
7    속묵우  2024-02-29
8    도온강  2024-02-29
9    장춘란  2024-02-29
10   매혁지  2023-02-28
11   록로민  2023-02-28
12   탁영표  2023-02-28
13   주인철  2022-02-28
14   방전분  2022-02-28
15   처성산  2021-02-28
16   권철희  2021-02-28
17   숭황예  2024-03-01
18   충창동  2024-03-01
19   람준분  2024-03-01
20   득푸니  2024-03-01
21   혁노력  2024-03-01
22   인환숙  2024-03-01
23   양봉패  2024-03-01
24   성해규  2024-03-01
25   안랑묵  2024-03-01
26   망처문  2023-03-01
27   순니충  2023-03-01
28   란우함  2023-03-01
29   동훼택  2023-03-01
30   인치형  2023-03-01
31   병전고  2023-03-01
32   방부인  2024-03-01
33   탄배매  2024-03-01
34   희상유  2024-03-01
35   반함훼  2024-03-01
36   권언차  2024-03-01
37   화호할  2024-03-01
38   을흥언  2024-03-01
39   혁묵복  2024-03-01
40   개중말  2024-03-01
41   시소표  2024-03-01
42   룡단구  2023-03-01
43   달니대  2024-05-01
44   혁번상  2024-05-01
45   춘란시  2024-05-01
46   감옥신  2024-02-28
47   복판백  2024-02-28
48   빈태봉  2024-02-28

#### 2. 정렬
- sort
- 인덱스를 기준으로 정렬하기 : sort_index()
- 값을 기준으로 정렬하기 : sort_values()

In [101]:
hr_info.set_index('EID').sort_index()

,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
EID,,,,,,,,,,,,,,,,,,
E00163,득치패,M,P008,28,0,학사 학위,0.00,5000,2024-03-01,4,"Project Management, Salesforce, Java",Y,2024-03-01,NaN,NaN,NaN,KOREA,N
E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
E00165,내감반,M,P008,24,0,학사 학위,0.00,5000,2024-03-01,4,"Python, Data Analysis",Y,2024-03-01,NaN,NaN,NaN,KOREA,Y
E00167,명묵말,M,P005,42,12,석사 학위,3.88,7300,2024-03-01,46,Salesforce,Y,2012-03-01,NaN,NaN,NaN,KOREA,Y
E00168,인환숙,M,P007,30,1,학사 학위,4.18,5600,2024-03-01,60,Data Analysis,N,2023-03-01,2024-03-01,이직,N,KOREA,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E00494,탄배매,F,P007,30,1,학사 학위,3.67,5600,2024-03-01,49,"Salesforce, Java, Marketing",N,2023-03-01,2024-03-01,건강 문제,N,India,Y
E00495,충창동,F,P007,30,1,학사 학위,1.92,5600,2024-03-01,59,"Marketing, Project Management, Data Analysis",N,2023-03-01,2024-03-01,이직,N,UK,Y
E00496,우봉망,F,P006,35,7,학사 학위,1.20,6700,2024-03-01,62,"Project Management, Marketing",Y,2017-03-01,NaN,NaN,NaN,USA,Y
E00497,리상녹,M,P006,38,8,고등학교 졸업,2.51,6800,2023-03-01,36,"Data Analysis, Marketing",Y,2016-03-01,NaN,NaN,NaN,Japan,Y
E00499,예수진,M,P006,35,8,학사 학위,1.28,6800,2023-03-01,0,"Marketing, Python",Y,2016-03-01,NaN,NaN,NaN,India,Y

In [102]:
# 컬럼 정렬
hr_info.sort_index(axis = 1)

# 알파벳 순으로 정렬

,ACTIVE_STATE,AGE,EDU_LEVEL,EID,ENAME,GENDER,HIRE_DATE,LAST_PROMO_DT,NATION,PERFORMANCE_SCORE,POS_CD,REHIRE_YN,RETIRE_DATE,RETIRE_REASON,ROUNDING_DEDUCTION,SALARY,SERVICE_YEAR,SKILLS,TRAINING_HOURS
ORG_CD,,,,,,,,,,,,,,,,,,,
NaN,Y,49,박사 학위,E00206,시이오,M,1999-03-01,2024-03-01,KOREA,4.50,P001,NaN,NaN,NaN,Y,10200,25,"Marketing, Salesforce",240
NaN,Y,49,박사 학위,E00181,나사장,F,2000-03-01,2024-03-01,KOREA,4.60,P002,NaN,NaN,NaN,Y,9500,24,"Project Management, Marketing",236
NaN,Y,48,박사 학위,E00164,난부사장,M,2002-03-01,2024-03-01,KOREA,4.60,P003,NaN,NaN,NaN,Y,9100,22,"Salesforce, Data Analysis, Java",240
ORG007,Y,47,박사 학위,E00190,판라다,F,2006-03-01,2024-03-01,KOREA,3.51,P004,NaN,NaN,NaN,Y,8500,18,"Java, Data Analysis, Salesforce",96
ORG023,Y,47,박사 학위,E00209,누훈봉,M,2005-03-01,2023-03-01,KOREA,3.38,P004,NaN,NaN,NaN,Y,8600,19,"Java, Salesforce",66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG014,Y,23,학사 학위,E00322,부탐회,F,2024-09-01,NaN,KOREA,0.00,P009,NaN,NaN,NaN,N,4500,0,Java,4
ORG012,Y,23,학사 학위,E00389,초두반,F,2024-09-01,NaN,KOREA,0.00,P009,NaN,NaN,NaN,N,4500,0,"Salesforce, Java",4
ORG024,Y,23,학사 학위,E00438,권개득,M,2024-09-01,NaN,KOREA,0.00,P009,NaN,NaN,NaN,N,4500,0,Python,4
ORG009,Y,24,학사 학위,E00304,탐출조,M,2024-09-01,NaN,KOREA,0.00,P009,NaN,NaN,NaN,N,4500,0,Salesforce,4
ORG003,Y,24,학사 학위,E00428,을충나,F,2024-09-01,NaN,KOREA,0.00,P009,NaN,NaN,NaN,N,4500,0,"Data Analysis, Python, Marketing",4

In [106]:
# 값을 기준으로 정렬
hr_info.sort_values('SALARY', ascending = False)

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
NaN,E00206,시이오,M,P001,49,25,박사 학위,4.50,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00181,나사장,F,P002,49,24,박사 학위,4.60,9500,2024-03-01,236,"Project Management, Marketing",Y,2000-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
ORG023,E00209,누훈봉,M,P004,47,19,박사 학위,3.38,8600,2023-03-01,66,"Java, Salesforce",Y,2005-03-01,NaN,NaN,NaN,KOREA,Y
ORG014,E00487,고명초,F,P004,47,20,석사 학위,1.81,8600,2022-03-01,49,"Marketing, Salesforce, Project Management",Y,2004-03-01,NaN,NaN,NaN,Japan,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG014,E00322,부탐회,F,P009,23,0,학사 학위,0.00,4500,NaN,4,Java,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG012,E00389,초두반,F,P009,23,0,학사 학위,0.00,4500,NaN,4,"Salesforce, Java",Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG024,E00438,권개득,M,P009,23,0,학사 학위,0.00,4500,NaN,4,Python,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG009,E00304,탐출조,M,P009,24,0,학사 학위,0.00,4500,NaN,4,Salesforce,Y,2024-09-01,NaN,NaN,NaN,KOREA,N
ORG003,E00428,을충나,F,P009,24,0,학사 학위,0.00,4500,NaN,4,"Data Analysis, Python, Marketing",Y,2024-09-01,NaN,NaN,NaN,KOREA,N

In [107]:
# 두 가지 기준으로 정렬 -> 나이, 연봉

hr_info.sort_values(['AGE', 'SALARY'])

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
ORG023,E00183,용조담,F,P009,22,0,학사 학위,0.00,4500,NaN,4,"Python, Java, Salesforce",Y,2024-03-01,NaN,NaN,NaN,KOREA,N
ORG017,E00192,감옥신,F,P009,22,0,학사 학위,0.00,4500,NaN,4,"Project Management, Python, Salesforce",N,2024-03-01,2024-02-28,계약만료,N,KOREA,N
ORG017,E00275,복판백,M,P009,22,0,학사 학위,0.00,4500,NaN,4,"Marketing, Salesforce",N,2024-03-01,2024-02-28,계약만료,N,KOREA,N
ORG021,E00281,빈태봉,F,P009,22,0,고등학교 졸업,0.00,4500,NaN,4,Java,N,2024-03-01,2024-02-28,계약만료,N,KOREA,N
ORG001,E00300,랑화구,F,P009,22,0,학사 학위,0.00,4500,NaN,4,Marketing,Y,2024-03-01,NaN,NaN,NaN,KOREA,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG004,E00411,구류길,M,P004,48,18,박사 학위,4.87,8500,2024-03-01,37,"Data Analysis, Java, Python",Y,2006-03-01,NaN,NaN,NaN,USA,Y
ORG021,E00294,중우방,F,P004,48,19,박사 학위,2.56,8600,2023-03-01,12,"Python, Salesforce, Java",Y,2005-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00181,나사장,F,P002,49,24,박사 학위,4.60,9500,2024-03-01,236,"Project Management, Marketing",Y,2000-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00206,시이오,M,P001,49,25,박사 학위,4.50,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y

In [112]:
hr_info.sort_values('AGE', inplace = True, ascending=False)

In [113]:
hr_info

,EID,ENAME,GENDER,POS_CD,AGE,SERVICE_YEAR,EDU_LEVEL,PERFORMANCE_SCORE,SALARY,LAST_PROMO_DT,TRAINING_HOURS,SKILLS,ACTIVE_STATE,HIRE_DATE,RETIRE_DATE,RETIRE_REASON,REHIRE_YN,NATION,ROUNDING_DEDUCTION
ORG_CD,,,,,,,,,,,,,,,,,,,
NaN,E00206,시이오,M,P001,49,25,박사 학위,4.50,10200,2024-03-01,240,"Marketing, Salesforce",Y,1999-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00181,나사장,F,P002,49,24,박사 학위,4.60,9500,2024-03-01,236,"Project Management, Marketing",Y,2000-03-01,NaN,NaN,NaN,KOREA,Y
NaN,E00164,난부사장,M,P003,48,22,박사 학위,4.60,9100,2024-03-01,240,"Salesforce, Data Analysis, Java",Y,2002-03-01,NaN,NaN,NaN,KOREA,Y
ORG011,E00346,루신디,F,P004,48,19,석사 학위,1.25,8500,2023-03-01,83,Python,Y,2005-03-01,NaN,NaN,NaN,USA,Y
ORG024,E00326,부현망,F,P004,48,20,고등학교 졸업,4.93,8500,2022-03-01,81,Python,Y,2004-03-01,NaN,NaN,NaN,USA,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ORG019,E00315,탐말당,F,P009,22,0,고등학교 졸업,0.00,4500,NaN,4,"Project Management, Java, Salesforce",Y,2024-03-01,NaN,NaN,NaN,KOREA,N
ORG030,E00303,팽봉신,M,P009,22,0,학사 학위,0.00,4500,NaN,4,"Java, Python",Y,2024-03-01,NaN,NaN,NaN,KOREA,N
ORG001,E00300,랑화구,F,P009,22,0,학사 학위,0.00,4500,NaN,4,Marketing,Y,2024-03-01,NaN,NaN,NaN,KOREA,N
ORG021,E00281,빈태봉,F,P009,22,0,고등학교 졸업,0.00,4500,NaN,4,Java,N,2024-03-01,2024-02-28,계약만료,N,KOREA,N
ORG017,E00275,복판백,M,P009,22,0,학사 학위,0.00,4500,NaN,4,"Marketing, Salesforce",N,2024-03-01,2024-02-28,계약만료,N,KOREA,N

In [121]:
org_info_new['SALARY'].rank(ascending = False)

ORG_CD
ORG001    29.0
ORG002     3.0
ORG003     5.0
ORG004     6.0
ORG005    23.0
ORG006    16.0
ORG007     1.0
ORG008    15.0
ORG009    24.5
ORG010     8.0
ORG011     2.0
ORG012    20.0
ORG013    17.0
ORG014    13.5
ORG015    30.0
ORG016     4.0
ORG017    24.5
ORG018    19.0
ORG019    26.0
ORG020    28.0
ORG021     7.0
ORG022    13.5
ORG023    21.0
ORG024    18.0
ORG025    11.0
ORG026    27.0
ORG027    10.0
ORG028    12.0
ORG029     9.0
ORG030    22.0
Name: SALARY, dtype: float64

In [124]:
# 높은 값이 rank 1 : ascending
# 랭킹 값이 들어갈 새로운 열을 추가
org_info_new['SALARY_RANK'] = org_info_new['SALARY'].rank(ascending = False)
org_info_new

,ENG_DIVISION,KOR_DIVISION,ENG_DEPARTMENT,KOR_DEPARTMENT,Team,KOR_TEAM,Role,ENAME,AGE,SERVICE_YEAR,SALARY,SALARY_RANK
ORG_CD,,,,,,,,,,,,
ORG001,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Product Management Team,TV 제품 관리 팀,관리 및 마케팅 전략 수립을 통해 TV 제품의 전체 라이프사이클을 관리합니다.,6,26.166667,0.333333,5033.333333,29.0
ORG002,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Marketing Team,TV 마케팅 팀,"TV 제품의 시장 진입 전략을 수립하고, 광고 및 프로모션 활동을 기획합니다.",4,34.000000,7.500000,6550.000000,3.0
ORG003,Home Entertainment Division,HE사업본부,TV Business Operations Department,TV사업운영센터,TV Customer Support Team,TV 고객 지원 팀,TV 고객 지원 서비스 제공 및 고객 만족도를 높이기 위한 해결책을 제공합니다.,5,34.600000,7.600000,6480.000000,5.0
ORG004,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Core Development Team,webOS 핵심 개발 팀,webOS 플랫폼의 핵심 기능 개발 및 유지보수를 담당합니다.,11,35.181818,7.000000,6445.454545,6.0
ORG005,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS User Interface Team,webOS 사용자 인터페이스 팀,webOS의 사용자 인터페이스 디자인 및 개선을 담당합니다.,8,29.250000,2.000000,5525.000000,23.0
ORG006,Home Entertainment Division,HE사업본부,webOS Software Development Department,webOS SW개발그룹,webOS Quality Assurance Team,webOS 품질 보증 팀,webOS 소프트웨어의 품질 검증 및 테스트를 수행합니다.,6,30.833333,4.166667,5966.666667,16.0
ORG007,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Global Sales Strategy Team,글로벌 판매 전략 팀,"글로벌 판매 전략을 수립하고, 주요 시장에서의 판매 목표를 설정합니다.",7,36.714286,8.000000,6728.571429,1.0
ORG008,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Key Account Management Team,주요 고객 관리 팀,"주요 고객과의 관계를 관리하고, 맞춤형 솔루션을 제공합니다.",5,32.400000,5.200000,6020.000000,15.0
ORG009,Vehicle Solutions Division,VS사업본부,Global Customer Strategy Department,글로벌고객전략담당,Customer Insights Team,고객 통찰 팀,"고객 데이터를 분석하여 인사이트를 도출하고, 이를 기반으로 제품 및 서비스 개선안을...",5,29.800000,2.200000,5520.000000,24.5
ORG010,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Asia Regional Sales Team,아시아 지역 판매 팀,"아시아 지역에서의 판매 활동을 관리하고, 시장 진입 전략을 수립합니다.",3,33.333333,5.666667,6300.000000,8.0
ORG011,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Project Management Team,프로젝트 관리 팀,"프로젝트 계획 수립 및 실행, 리소스 관리 및 일정 관리를 담당합니다.",5,37.400000,8.400000,6660.000000,2.0
ORG012,Vehicle Solutions Division,VS사업본부,VS Asia Sales/PM Department,VS아시아영업/PM담당,Technical Sales Support Team,기술 영업 지원 팀,"기술적 지원을 제공하여 고객의 요구사항을 해결하고, 제품의 기술적 장점을 설명합니다.",5,29.600000,2.600000,5680.000000,20.0
ORG013,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Appliance Development Team,주방 가전 개발 팀,주방 가전 제품의 개발 및 설계를 담당합니다.,8,32.625000,3.625000,5950.000000,17.0
ORG014,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Product Marketing Team,주방 제품 마케팅 팀,주방 제품의 마케팅 전략 수립 및 실행을 담당합니다.,8,32.750000,5.000000,6025.000000,13.5
ORG015,Home Appliance and Air Solution Division,HA사업본부,Kitchen Solutions Department,키친솔루션사업부,Kitchen Customer Service Team,주방 고객 서비스 팀,주방 가전 제품에 대한 고객 지원 및 서비스 제공을 담당합니다.,3,24.666667,0.000000,5000.000000,30.0
ORG016,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India B2B Sales Team,인도 B2B 판매 팀,"인도 지역 B2B 판매 활동을 관리하고, 고객 맞춤형 솔루션을 제공합니다.",8,35.000000,7.250000,6500.000000,4.0
ORG017,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Market Analysis Team,인도 시장 분석 팀,인도 시장에 대한 분석을 통해 시장 전략을 수립합니다.,10,29.400000,2.700000,5520.000000,24.5
ORG018,Business Solutions Division,BS사업본부,B2B India Business Department,B2B인도사업담당,India Customer Support Team,인도 고객 지원 팀,인도 지역 고객에 대한 지원 및 서비스를 제공합니다.,6,30.333333,3.000000,5716.666667,19.0
ORG019,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,Innovation Research Team,혁신 연구 팀,신기술 연구 및 혁신적인 제품 개발을 주도합니다.,10,29.300000,2.400000,5440.000000,26.0
ORG020,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,New Business Development Team,신사업 개발 팀,"새로운 비즈니스 기회를 발굴하고, 사업화를 추진합니다.",3,26.333333,0.333333,5066.666667,28.0
ORG021,Business Solutions Division,BS사업본부,North America Innovation Center,북미이노베이션센터,North America Sales Team,북미 판매 팀,북미 지역 판매 전략 수립 및 실행을 담당합니다.,12,34.250000,6.666667,6400.000000,7.0
ORG022,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Process Improvement Team,생산 공정 개선 팀,생산 공정의 효율성을 개선하고 최적화하는 작업을 수행합니다.,4,32.500000,3.750000,6025.000000,13.5
ORG023,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Advanced Manufacturing Team,첨단 제조 팀,첨단 제조 기술 개발 및 생산성 향상 작업을 수행합니다.,12,30.416667,3.083333,5658.333333,21.0
ORG024,Production Engineering Research Institute,생산기술원,Production Technology Development Team,생산기술개발팀,Production Quality Control Team,생산 품질 관리 팀,"생산 품질을 관리하고, 품질 문제를 해결합니다.",5,30.200000,4.400000,5740.000000,18.0
ORG025,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Talent Acquisition Team,인재 채용 팀,"인재 채용 전략 수립 및 실행, 채용 프로세스 관리.",8,31.125000,5.500000,6200.000000,11.0
ORG026,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Employee Development Team,직원 개발 팀,직원 교육 및 개발 프로그램 기획 및 실행.,5,26.400000,0.400000,5140.000000,27.0
ORG027,Human Resources,HR,Chief Human Resources Officer Department,최고인사책임자(CHO) 부서,Compensation and Benefits Team,보상 및 복리후생 팀,직원 보상 및 복리후생 제도 관리.,7,33.142857,5.714286,6228.571429,10.0
ORG028,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Parts Development Team,부품개발팀,세탁기 부품의 개발 및 개선을 담당합니다.,4,34.000000,5.250000,6150.000000,12.0
ORG029,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Analysis Team,분석팀,세탁기 성능 및 사용자 로그 데이터를 분석하고 보고서를 작성합니다.,4,35.500000,6.500000,6275.000000,9.0
ORG030,Home Entertainment Division,HE사업본부,Washing Machine Operations Department,세탁기운영센터,Information Management Team,정보관리팀,"세탁기 관련 정보의 수집, 저장, 관리 및 배포를 담당합니다.",10,29.200000,2.400000,5550.000000,22.0